Options All -Indexes
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
# Ruta home de acceso para el index.php
RewriteRule ^home/?$ index.php
# Ruta consulta-clientes de acceso para el archivo consulta.php
RewriteRule ^consulta-clientes/?$ consulta.php